.main_welcome_left{  
    background-color: white;
    height: 450px;
    width: 30%;
    margin-left: auto;
    margin-right: 0px;
    box-shadow:-5px 5px 10px black;
    text-align: center;
}
.main_welcome_left_top{
    background-color: #F4BFBF;
    height: 85%;
}
.main_photo{
    width: 50%;
    border-radius: 50%;
    margin-top: 10px;
}
.main_target{
    font-size: 20px;
}
.main_welcome_left_bottom{
    height: 15%;
    transform: translateY(10px);
}
.img_connect{
    height: 50px;
    padding: 0px 5px 0px 5px;
}
.main_welcome_right{
    width: 50%;
    background-color: #8CC0DE;
    margin-right: 0px;
}
.main_greet{
    background-color: white;
    margin: 15px auto;
}
.main_welcome_right_btn{
    height: 30px;
    width: 100px;
    border-radius: 10px;
    border-color: transparent;
    font-size: 15px;
    background-color: #DF7861;
    color: white;
    font-family: 'Merriweather';
    transform: translateX(15px);
}
.main_welcome_right_btn:hover{
    border-color: black;
    background-color: white;
    color: #DF7861;
    font-weight: bold;
}